<h3>Update Student</h3>
<%= form_for(@student) do |f| %>

  <label>Class Title:</label>
  <p><%= f.text_field :first_name %></p>

  <label>Room Number:</label>
  <p><%= f.text_field :last_name %></p>

  <%= f.submit "Update Student" %>

<% end  %>
